/* import CSS from 'csstype';

const cellStyle: CSS.Properties = {
  maxWidth: '50px',
  textOverflow: 'ellipsis',
  overflow: 'hidden',
  whiteSpace: 'nowrap',
};

const containerStyle: CSS.Properties = {
  display: 'flex',
  flexDirection: 'column',
  alignItems: 'center',
  justifyContent: 'center',
  minHeight: '100vh',
  backgroundColor: '#f1e7fe',
  color: 'black',
  padding: '2rem',
};

const tableStyle: CSS.Properties = {
  width: '70%',
  margin: '2rem auto',
  borderCollapse: 'collapse',
  border: '1px solid #ddd',
};

const tableHeaderCellStyle: CSS.Properties = {
  backgroundColor: '#f9f9f9',
  padding: '0.5rem',
  borderBottom: '1px solid #ddd',
};

const tableBodyCellStyle: CSS.Properties = {
  padding: '0.5rem',
  borderBottom: '1px solid #ddd',
}; */
